@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "quicksand-light";
  src: url(../assets/fonts/quicksand-light.ttf);
}


@font-face {
  font-family: "quicksand-bold";
  src: url(../assets/fonts/quicksand-bold.ttf);
}

.h-full-vh {
  height: 100vh;
}


